{
	"sTitle": "BTCloud",
	"sAppListeningPath": "/home/murilo/Documents/bluetec/data1/",
	"sMongoDBHost": "mngdbsascloud.sasweb-fleet.net",
	"sMongoDBCollection": "bluetec.posicao",
	"sMySQLHost": "mysqldbsrv.sasweb-fleet.net",
	"sMySQLUser": "root",
	"sMySQLPassword": "4b3lh4",
	"sMySQLScheme": "sasweb_cloud",
	"iProjectId": "18"
}
