{
	"sTitle": "BTCloud",
	"sAppListeningPath": "/home/murilo/Documents/bluetec/data/",
	"sActiveMQTarget": "failover:(tcp://10.1.110.21:61616)",
	"sActiveMQUser": "",
	"sActiveMQPassword": "",
	"sActiveMQQueue": "dev.bluetec400",
	"iSleepProcessInterval": 0,
	"sMongoDBHost": "mngdbsascloud.sasweb-fleet.net",
	"sMongoDBUser": "",
	"sMongoDBPassword": "",
	"sMongoDBDatabase": "",
	"sMongoDBAuthMechanism": "",
	"sMongoDBCollections": "gleisser.posicao|gleisser.ultima_posicao",
	"vCollectionClients": "ELFUSA__,ATONANNI,SAUDESBD,FCCTARRI",
	"sMySQLHost": "127.0.0.1",
	"sMySQLUser": "root",
	"sMySQLPassword": "qwe123",
	"sMySQLScheme": "bluetec",
	"iProjectId": 2
}
